.styles-input-2-qoK- {
  border: 1px solid #e5e5e5;
  font-size: 13px;
  font-family: Proxima;
  letter-spacing: 0.5px;
  display: block;
  outline: none;
  width: 100%;
}
.styles-input-2-qoK-:focus {
  border: 1px solid #999;
}
.styles-input-2-qoK-.styles-lg-3czvA- {
  padding: 0 12px;
  height: 50px;
}
.styles-input-2-qoK-.styles-md-1yioj- {
  padding: 0 10px;
  height: 44px;
}
.styles-input-2-qoK-.styles-sm-2ML5n- {
  padding: 0 12px;
  height: 32px;
}
.styles-input-2-qoK-.styles-error-2wJus-:not(:focus) {
  border: 1px solid #f66161;
}
.styles-input-2-qoK-.styles-bound-2Yg4P-:not(:focus) {
  border-bottom-color: transparent;
}
.styles-input-2-qoK-.styles-round-1p7Z3- {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.styles-h1-1Sl0h- {
  font-family: Brandon-Medium;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-h1-1Sl0h-:not([class*="mt-"]) .styles-h1-1Sl0h-.styles-h1-1Sl0h- .styles-h1-1Sl0h-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h1-1Sl0h-:not([class*="mb-"]) .styles-h1-1Sl0h-.styles-h1-1Sl0h- .styles-h1-1Sl0h-:not([class*="my-"]) {
  margin-bottom: initial;
}
@media (max-width: 767px) {
  .styles-h1-1Sl0h- {
    font-family: Brandon-Medium;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: initial;
  }
  .styles-h1-1Sl0h-:not([class*="mt-"]) .styles-h1-1Sl0h-.styles-h1-1Sl0h- .styles-h1-1Sl0h-:not([class*="my-"]) {
    margin-top: initial;
  }
  .styles-h1-1Sl0h-:not([class*="mb-"]) .styles-h1-1Sl0h-.styles-h1-1Sl0h- .styles-h1-1Sl0h-:not([class*="my-"]) {
    margin-bottom: initial;
  }
}
.styles-h1-bold-1SgCr- {
  font-family: Brandon-Bold;
  font-size: 36px;
  line-height: 39px;
  letter-spacing: 5px;
  font-weight: initial;
}
.styles-h1-bold-1SgCr-:not([class*="mt-"]) .styles-h1-bold-1SgCr-.styles-h1-bold-1SgCr- .styles-h1-bold-1SgCr-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h1-bold-1SgCr-:not([class*="mb-"]) .styles-h1-bold-1SgCr-.styles-h1-bold-1SgCr- .styles-h1-bold-1SgCr-:not([class*="my-"]) {
  margin-bottom: initial;
}
@media (max-width: 767px) {
  .styles-h1-bold-1SgCr- {
    font-family: Brandon-Bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 5px;
    font-weight: initial;
  }
  .styles-h1-bold-1SgCr-:not([class*="mt-"]) .styles-h1-bold-1SgCr-.styles-h1-bold-1SgCr- .styles-h1-bold-1SgCr-:not([class*="my-"]) {
    margin-top: initial;
  }
  .styles-h1-bold-1SgCr-:not([class*="mb-"]) .styles-h1-bold-1SgCr-.styles-h1-bold-1SgCr- .styles-h1-bold-1SgCr-:not([class*="my-"]) {
    margin-bottom: initial;
  }
}
.styles-h2-light-3WFFb- {
  font-family: Brandon;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-h2-light-3WFFb-:not([class*="mt-"]) .styles-h2-light-3WFFb-.styles-h2-light-3WFFb- .styles-h2-light-3WFFb-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h2-light-3WFFb-:not([class*="mb-"]) .styles-h2-light-3WFFb-.styles-h2-light-3WFFb- .styles-h2-light-3WFFb-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-h2-light-3WFFb-.styles-okl-77m3V- {
  font-family: FreightDisp-Pro-Book;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-h2-light-3WFFb-.styles-okl-77m3V-:not([class*="mt-"]) .styles-h2-light-3WFFb-.styles-okl-77m3V-.styles-h2-light-3WFFb-.styles-okl-77m3V- .styles-h2-light-3WFFb-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h2-light-3WFFb-.styles-okl-77m3V-:not([class*="mb-"]) .styles-h2-light-3WFFb-.styles-okl-77m3V-.styles-h2-light-3WFFb-.styles-okl-77m3V- .styles-h2-light-3WFFb-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-h2-11CD4- {
  font-family: Brandon-Medium;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-h2-11CD4-:not([class*="mt-"]) .styles-h2-11CD4-.styles-h2-11CD4- .styles-h2-11CD4-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h2-11CD4-:not([class*="mb-"]) .styles-h2-11CD4-.styles-h2-11CD4- .styles-h2-11CD4-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-h2-serif-22BUH- {
  font-family: Georgia;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-h2-serif-22BUH-:not([class*="mt-"]) .styles-h2-serif-22BUH-.styles-h2-serif-22BUH- .styles-h2-serif-22BUH-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h2-serif-22BUH-:not([class*="mb-"]) .styles-h2-serif-22BUH-.styles-h2-serif-22BUH- .styles-h2-serif-22BUH-:not([class*="my-"]) {
  margin-bottom: initial;
}
@media (max-width: 767px) {
  .styles-h2-serif-22BUH- {
    font-family: Georgia;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: initial;
  }
  .styles-h2-serif-22BUH-:not([class*="mt-"]) .styles-h2-serif-22BUH-.styles-h2-serif-22BUH- .styles-h2-serif-22BUH-:not([class*="my-"]) {
    margin-top: initial;
  }
  .styles-h2-serif-22BUH-:not([class*="mb-"]) .styles-h2-serif-22BUH-.styles-h2-serif-22BUH- .styles-h2-serif-22BUH-:not([class*="my-"]) {
    margin-bottom: initial;
  }
}
.styles-h2-frieght-1v2DW-.styles-okl-77m3V- {
  font-family: FreightDisp-Pro-Book;
  font-size: 30px;
  line-height: 1.07;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-h2-frieght-1v2DW-.styles-okl-77m3V-:not([class*="mt-"]) .styles-h2-frieght-1v2DW-.styles-okl-77m3V-.styles-h2-frieght-1v2DW-.styles-okl-77m3V- .styles-h2-frieght-1v2DW-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h2-frieght-1v2DW-.styles-okl-77m3V-:not([class*="mb-"]) .styles-h2-frieght-1v2DW-.styles-okl-77m3V-.styles-h2-frieght-1v2DW-.styles-okl-77m3V- .styles-h2-frieght-1v2DW-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-h3-3KHkk- {
  font-family: Brandon-Bold;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: initial;
}
.styles-h3-3KHkk-:not([class*="mt-"]) .styles-h3-3KHkk-.styles-h3-3KHkk- .styles-h3-3KHkk-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h3-3KHkk-:not([class*="mb-"]) .styles-h3-3KHkk-.styles-h3-3KHkk- .styles-h3-3KHkk-:not([class*="my-"]) {
  margin-bottom: initial;
}
@media (max-width: 767px) {
  .styles-h3-3KHkk- {
    font-family: Brandon-Bold;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2px;
    font-weight: initial;
  }
  .styles-h3-3KHkk-:not([class*="mt-"]) .styles-h3-3KHkk-.styles-h3-3KHkk- .styles-h3-3KHkk-:not([class*="my-"]) {
    margin-top: initial;
  }
  .styles-h3-3KHkk-:not([class*="mb-"]) .styles-h3-3KHkk-.styles-h3-3KHkk- .styles-h3-3KHkk-:not([class*="my-"]) {
    margin-bottom: initial;
  }
}
.styles-h4-70kaz- {
  font-family: Brandon-Bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: initial;
}
.styles-h4-70kaz-:not([class*="mt-"]) .styles-h4-70kaz-.styles-h4-70kaz- .styles-h4-70kaz-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h4-70kaz-:not([class*="mb-"]) .styles-h4-70kaz-.styles-h4-70kaz- .styles-h4-70kaz-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-h5-label-oIsok- {
  font-family: Proxima-Semibold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  font-weight: initial;
}
.styles-h5-label-oIsok-:not([class*="mt-"]) .styles-h5-label-oIsok-.styles-h5-label-oIsok- .styles-h5-label-oIsok-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h5-label-oIsok-:not([class*="mb-"]) .styles-h5-label-oIsok-.styles-h5-label-oIsok- .styles-h5-label-oIsok-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-h6-label-3FPKh- {
  font-family: Proxima-Semibold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 1px;
  font-weight: initial;
}
.styles-h6-label-3FPKh-:not([class*="mt-"]) .styles-h6-label-3FPKh-.styles-h6-label-3FPKh- .styles-h6-label-3FPKh-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-h6-label-3FPKh-:not([class*="mb-"]) .styles-h6-label-3FPKh-.styles-h6-label-3FPKh- .styles-h6-label-3FPKh-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-subhead-regular-3GdSm- {
  font-family: Proxima;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-subhead-regular-3GdSm-:not([class*="mt-"]) .styles-subhead-regular-3GdSm-.styles-subhead-regular-3GdSm- .styles-subhead-regular-3GdSm-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-subhead-regular-3GdSm-:not([class*="mb-"]) .styles-subhead-regular-3GdSm-.styles-subhead-regular-3GdSm- .styles-subhead-regular-3GdSm-:not([class*="my-"]) {
  margin-bottom: initial;
}
@media (max-width: 767px) {
  .styles-subhead-regular-3GdSm- {
    font-family: Proxima;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: initial;
  }
  .styles-subhead-regular-3GdSm-:not([class*="mt-"]) .styles-subhead-regular-3GdSm-.styles-subhead-regular-3GdSm- .styles-subhead-regular-3GdSm-:not([class*="my-"]) {
    margin-top: initial;
  }
  .styles-subhead-regular-3GdSm-:not([class*="mb-"]) .styles-subhead-regular-3GdSm-.styles-subhead-regular-3GdSm- .styles-subhead-regular-3GdSm-:not([class*="my-"]) {
    margin-bottom: initial;
  }
}
.styles-subhead-semibold-16XnW- {
  font-family: Proxima-Semibold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-subhead-semibold-16XnW-:not([class*="mt-"]) .styles-subhead-semibold-16XnW-.styles-subhead-semibold-16XnW- .styles-subhead-semibold-16XnW-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-subhead-semibold-16XnW-:not([class*="mb-"]) .styles-subhead-semibold-16XnW-.styles-subhead-semibold-16XnW- .styles-subhead-semibold-16XnW-:not([class*="my-"]) {
  margin-bottom: initial;
}
@media (max-width: 767px) {
  .styles-subhead-semibold-16XnW- {
    font-family: Proxima-Semibold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: initial;
  }
  .styles-subhead-semibold-16XnW-:not([class*="mt-"]) .styles-subhead-semibold-16XnW-.styles-subhead-semibold-16XnW- .styles-subhead-semibold-16XnW-:not([class*="my-"]) {
    margin-top: initial;
  }
  .styles-subhead-semibold-16XnW-:not([class*="mb-"]) .styles-subhead-semibold-16XnW-.styles-subhead-semibold-16XnW- .styles-subhead-semibold-16XnW-:not([class*="my-"]) {
    margin-bottom: initial;
  }
}
.styles-subhead-semibold-sm-3NZoE- {
  font-family: Proxima-Semibold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-subhead-semibold-sm-3NZoE-:not([class*="mt-"]) .styles-subhead-semibold-sm-3NZoE-.styles-subhead-semibold-sm-3NZoE- .styles-subhead-semibold-sm-3NZoE-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-subhead-semibold-sm-3NZoE-:not([class*="mb-"]) .styles-subhead-semibold-sm-3NZoE-.styles-subhead-semibold-sm-3NZoE- .styles-subhead-semibold-sm-3NZoE-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-regular-1_vy1- {
  font-family: Proxima;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-regular-1_vy1-:not([class*="mt-"]) .styles-copy-regular-1_vy1-.styles-copy-regular-1_vy1- .styles-copy-regular-1_vy1-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-regular-1_vy1-:not([class*="mb-"]) .styles-copy-regular-1_vy1-.styles-copy-regular-1_vy1- .styles-copy-regular-1_vy1-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-regular-1_vy1-.styles-okl-77m3V- {
  font-family: Proxima;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-regular-1_vy1-.styles-okl-77m3V-:not([class*="mt-"]) .styles-copy-regular-1_vy1-.styles-okl-77m3V-.styles-copy-regular-1_vy1-.styles-okl-77m3V- .styles-copy-regular-1_vy1-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-regular-1_vy1-.styles-okl-77m3V-:not([class*="mb-"]) .styles-copy-regular-1_vy1-.styles-okl-77m3V-.styles-copy-regular-1_vy1-.styles-okl-77m3V- .styles-copy-regular-1_vy1-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-semibold-NVkbx- {
  font-family: Proxima-Semibold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-semibold-NVkbx-:not([class*="mt-"]) .styles-copy-semibold-NVkbx-.styles-copy-semibold-NVkbx- .styles-copy-semibold-NVkbx-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-semibold-NVkbx-:not([class*="mb-"]) .styles-copy-semibold-NVkbx-.styles-copy-semibold-NVkbx- .styles-copy-semibold-NVkbx-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-semibold-NVkbx-.styles-okl-77m3V- {
  font-family: Proxima-Semibold;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-semibold-NVkbx-.styles-okl-77m3V-:not([class*="mt-"]) .styles-copy-semibold-NVkbx-.styles-okl-77m3V-.styles-copy-semibold-NVkbx-.styles-okl-77m3V- .styles-copy-semibold-NVkbx-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-semibold-NVkbx-.styles-okl-77m3V-:not([class*="mb-"]) .styles-copy-semibold-NVkbx-.styles-okl-77m3V-.styles-copy-semibold-NVkbx-.styles-okl-77m3V- .styles-copy-semibold-NVkbx-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-bold-1D8cf- {
  font-family: Proxima-Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-bold-1D8cf-:not([class*="mt-"]) .styles-copy-bold-1D8cf-.styles-copy-bold-1D8cf- .styles-copy-bold-1D8cf-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-bold-1D8cf-:not([class*="mb-"]) .styles-copy-bold-1D8cf-.styles-copy-bold-1D8cf- .styles-copy-bold-1D8cf-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-sm-2wot4- {
  font-family: Proxima;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-sm-2wot4-:not([class*="mt-"]) .styles-copy-sm-2wot4-.styles-copy-sm-2wot4- .styles-copy-sm-2wot4-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-sm-2wot4-:not([class*="mb-"]) .styles-copy-sm-2wot4-.styles-copy-sm-2wot4- .styles-copy-sm-2wot4-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-sm-2wot4-.styles-okl-77m3V- {
  font-family: Proxima;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-sm-2wot4-.styles-okl-77m3V-:not([class*="mt-"]) .styles-copy-sm-2wot4-.styles-okl-77m3V-.styles-copy-sm-2wot4-.styles-okl-77m3V- .styles-copy-sm-2wot4-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-sm-2wot4-.styles-okl-77m3V-:not([class*="mb-"]) .styles-copy-sm-2wot4-.styles-okl-77m3V-.styles-copy-sm-2wot4-.styles-okl-77m3V- .styles-copy-sm-2wot4-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-tiny-2Zp1G- {
  font-family: Proxima;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-tiny-2Zp1G-:not([class*="mt-"]) .styles-copy-tiny-2Zp1G-.styles-copy-tiny-2Zp1G- .styles-copy-tiny-2Zp1G-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-tiny-2Zp1G-:not([class*="mb-"]) .styles-copy-tiny-2Zp1G-.styles-copy-tiny-2Zp1G- .styles-copy-tiny-2Zp1G-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-semibold-sm-1_536- {
  font-family: Proxima-Semibold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-semibold-sm-1_536-:not([class*="mt-"]) .styles-copy-semibold-sm-1_536-.styles-copy-semibold-sm-1_536- .styles-copy-semibold-sm-1_536-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-semibold-sm-1_536-:not([class*="mb-"]) .styles-copy-semibold-sm-1_536-.styles-copy-semibold-sm-1_536- .styles-copy-semibold-sm-1_536-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-semibold-tiny-2_GOC- {
  font-family: Proxima-Semibold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
  font-weight: initial;
}
.styles-copy-semibold-tiny-2_GOC-:not([class*="mt-"]) .styles-copy-semibold-tiny-2_GOC-.styles-copy-semibold-tiny-2_GOC- .styles-copy-semibold-tiny-2_GOC-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-semibold-tiny-2_GOC-:not([class*="mb-"]) .styles-copy-semibold-tiny-2_GOC-.styles-copy-semibold-tiny-2_GOC- .styles-copy-semibold-tiny-2_GOC-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-semibold-tiny-2_GOC-.styles-okl-77m3V- {
  font-family: Proxima-Semibold;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-semibold-tiny-2_GOC-.styles-okl-77m3V-:not([class*="mt-"]) .styles-copy-semibold-tiny-2_GOC-.styles-okl-77m3V-.styles-copy-semibold-tiny-2_GOC-.styles-okl-77m3V- .styles-copy-semibold-tiny-2_GOC-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-semibold-tiny-2_GOC-.styles-okl-77m3V-:not([class*="mb-"]) .styles-copy-semibold-tiny-2_GOC-.styles-okl-77m3V-.styles-copy-semibold-tiny-2_GOC-.styles-okl-77m3V- .styles-copy-semibold-tiny-2_GOC-.styles-okl-77m3V-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-bold-sm-1NkBs- {
  font-family: Proxima-Bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-copy-bold-sm-1NkBs-:not([class*="mt-"]) .styles-copy-bold-sm-1NkBs-.styles-copy-bold-sm-1NkBs- .styles-copy-bold-sm-1NkBs-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-bold-sm-1NkBs-:not([class*="mb-"]) .styles-copy-bold-sm-1NkBs-.styles-copy-bold-sm-1NkBs- .styles-copy-bold-sm-1NkBs-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-copy-bold-tiny-jFsqH- {
  font-family: Proxima-Bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
  font-weight: initial;
}
.styles-copy-bold-tiny-jFsqH-:not([class*="mt-"]) .styles-copy-bold-tiny-jFsqH-.styles-copy-bold-tiny-jFsqH- .styles-copy-bold-tiny-jFsqH-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-copy-bold-tiny-jFsqH-:not([class*="mb-"]) .styles-copy-bold-tiny-jFsqH-.styles-copy-bold-tiny-jFsqH- .styles-copy-bold-tiny-jFsqH-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-blockquote-391tY- {
  font-family: Brandon-Medium;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-blockquote-391tY-:not([class*="mt-"]) .styles-blockquote-391tY-.styles-blockquote-391tY- .styles-blockquote-391tY-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-blockquote-391tY-:not([class*="mb-"]) .styles-blockquote-391tY-.styles-blockquote-391tY- .styles-blockquote-391tY-:not([class*="my-"]) {
  margin-bottom: initial;
}
@media (max-width: 767px) {
  .styles-blockquote-391tY- {
    font-family: Brandon-Medium;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0;
    font-weight: initial;
  }
  .styles-blockquote-391tY-:not([class*="mt-"]) .styles-blockquote-391tY-.styles-blockquote-391tY- .styles-blockquote-391tY-:not([class*="my-"]) {
    margin-top: initial;
  }
  .styles-blockquote-391tY-:not([class*="mb-"]) .styles-blockquote-391tY-.styles-blockquote-391tY- .styles-blockquote-391tY-:not([class*="my-"]) {
    margin-bottom: initial;
  }
}
.styles-pullquote-1I8Y6- {
  font-family: Georgia-Italic;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-pullquote-1I8Y6-:not([class*="mt-"]) .styles-pullquote-1I8Y6-.styles-pullquote-1I8Y6- .styles-pullquote-1I8Y6-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-pullquote-1I8Y6-:not([class*="mb-"]) .styles-pullquote-1I8Y6-.styles-pullquote-1I8Y6- .styles-pullquote-1I8Y6-:not([class*="my-"]) {
  margin-bottom: initial;
}
@media (max-width: 767px) {
  .styles-pullquote-1I8Y6- {
    font-family: Georgia-Italic;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: initial;
  }
  .styles-pullquote-1I8Y6-:not([class*="mt-"]) .styles-pullquote-1I8Y6-.styles-pullquote-1I8Y6- .styles-pullquote-1I8Y6-:not([class*="my-"]) {
    margin-top: initial;
  }
  .styles-pullquote-1I8Y6-:not([class*="mb-"]) .styles-pullquote-1I8Y6-.styles-pullquote-1I8Y6- .styles-pullquote-1I8Y6-:not([class*="my-"]) {
    margin-bottom: initial;
  }
}
.styles-pullquote-sm-1tll0- {
  font-family: Georgia-Italic;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-pullquote-sm-1tll0-:not([class*="mt-"]) .styles-pullquote-sm-1tll0-.styles-pullquote-sm-1tll0- .styles-pullquote-sm-1tll0-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-pullquote-sm-1tll0-:not([class*="mb-"]) .styles-pullquote-sm-1tll0-.styles-pullquote-sm-1tll0- .styles-pullquote-sm-1tll0-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-name-aICjD- {
  font-family: Handwriting;
  font-size: 34px;
  line-height: 34px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-name-aICjD-:not([class*="mt-"]) .styles-name-aICjD-.styles-name-aICjD- .styles-name-aICjD-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-name-aICjD-:not([class*="mb-"]) .styles-name-aICjD-.styles-name-aICjD- .styles-name-aICjD-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-name-sm-3dt8_- {
  font-family: Handwriting;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: initial;
}
.styles-name-sm-3dt8_-:not([class*="mt-"]) .styles-name-sm-3dt8_-.styles-name-sm-3dt8_- .styles-name-sm-3dt8_-:not([class*="my-"]) {
  margin-top: initial;
}
.styles-name-sm-3dt8_-:not([class*="mb-"]) .styles-name-sm-3dt8_-.styles-name-sm-3dt8_- .styles-name-sm-3dt8_-:not([class*="my-"]) {
  margin-bottom: initial;
}
.styles-uppercase-1OD6n- {
  text-transform: uppercase;
}
.styles-checkbox-3Kpvj- {
  position: relative;
}
.styles-checkbox-3Kpvj- input[type="checkbox"],
.styles-checkbox-3Kpvj- input[type=radio] {
  display: none;
}
.styles-checkbox-3Kpvj- label {
  display: inline-block;
  cursor: pointer;
  padding-left: 30px;
  line-height: 2;
}
.styles-checkbox-3Kpvj- label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}
.styles-checkbox-3Kpvj-.styles-right-3WcKf- label:before {
  right: 0;
  left: auto;
}
.styles-checkbox-lg-1d7fa- input + label:before,
.styles-checkbox-md-1nhX0- input + label:before {
  background: #fff;
}
.styles-checkbox-lg-1d7fa- input:not(:checked) + label:before,
.styles-checkbox-md-1nhX0- input:not(:checked) + label:before {
  border: 1px solid #ddd;
}
.styles-checkbox-lg-1d7fa- input:checked + label:before,
.styles-checkbox-md-1nhX0- input:checked + label:before {
  border: 1px solid #000;
}
.styles-checkbox-lg-1d7fa- input + label:after,
.styles-checkbox-md-1nhX0- input + label:after {
  content: url(public-files/img/form-check_fbb5e46e041f01b177010d60b25d3a14.png);
  position: absolute;
}
.styles-checkbox-lg-1d7fa- input:not(:checked) + label:after,
.styles-checkbox-md-1nhX0- input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.styles-checkbox-lg-1d7fa- input + label:before {
  width: 20px;
  height: 20px;
}
.styles-checkbox-lg-1d7fa- input + label:after {
  top: 6px;
  left: 6px;
}
.styles-checkbox-md-1nhX0- input + label:before {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.styles-checkbox-md-1nhX0- input + label:after {
  top: -6px;
  left: 4px;
}
.styles-radio-1Nomp- input + label::before {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.styles-radio-1Nomp- input:not(:checked) + label::before {
  border: 1px solid #ddd;
  background-color: #fff;
  width: 20px;
  height: 20px;
}
.styles-radio-1Nomp- input:checked + label::before {
  border: 4px solid #fff;
  background-color: #000;
  width: 14px;
  height: 14px;
  -webkit-box-shadow: 0 0 0 1px #000;
          box-shadow: 0 0 0 1px #000;
}
.styles-switcher-2V_OC- {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.styles-switcher-2V_OC- label {
  padding-top: 4px;
}
.styles-switcher-2V_OC-.styles-left-2nt6h- label {
  padding-left: 70px;
}
@media (max-width: 767px) {
  .styles-switcher-2V_OC-.styles-left-2nt6h- label {
    padding-left: 60px;
  }
}
.styles-switcher-2V_OC-.styles-right-3WcKf- label {
  padding-right: 70px;
  padding-left: 0;
}
@media (max-width: 767px) {
  .styles-switcher-2V_OC-.styles-right-3WcKf- label {
    padding-right: 60px;
  }
}
.styles-switcher-2V_OC- input + label:before {
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
  transition: background-color 2s;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  width: 60px;
  height: 30px;
}
@media (max-width: 767px) {
  .styles-switcher-2V_OC- input + label:before {
    width: 50px;
    height: 25px;
  }
}
.styles-switcher-2V_OC- input:not(:checked) + label:before {
  background-color: #999;
}
.styles-switcher-2V_OC- input:checked + label:before {
  background-color: #8adbd4;
}
.styles-switcher-2V_OC- input + label:after {
  content: '';
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  -webkit-transition: right 1s;
  -o-transition: right 1s;
  transition: right 1s;
  width: 25.5px;
  height: 25.5px;
}
@media (max-width: 767px) {
  .styles-switcher-2V_OC- input + label:after {
    width: 21px;
    height: 21px;
  }
}
.styles-switcher-2V_OC-.styles-left-2nt6h- input:not(:checked) + label:after {
  left: 2px;
}
.styles-switcher-2V_OC-.styles-left-2nt6h- input:checked + label:after {
  left: 32px;
}
@media (max-width: 767px) {
  .styles-switcher-2V_OC-.styles-left-2nt6h- input:checked + label:after {
    left: 27px;
  }
}
.styles-switcher-2V_OC-.styles-right-3WcKf- input:not(:checked) + label:after {
  right: 32px;
}
@media (max-width: 767px) {
  .styles-switcher-2V_OC-.styles-right-3WcKf- input:not(:checked) + label:after {
    right: 27px;
  }
}
.styles-switcher-2V_OC-.styles-right-3WcKf- input:checked + label:after {
  right: 2px;
}
.styles-button-1WE4n- {
  text-decoration: none;
  color: #fff;
  font-family: Proxima-Semibold;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid;
  outline: none;
  width: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.styles-button-1WE4n-.styles-okl-25mTm- {
  font-family: Proxima-bold;
}
.styles-button-1WE4n-:not(:disabled) {
  cursor: pointer;
}
.styles-button-1WE4n-.styles-upper-1HZ_7- {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
}
.styles-button-1WE4n-.styles-upper-1HZ_7-.styles-okl-25mTm- {
  font-size: 14px;
}
.styles-button-1WE4n-.styles-capital-HJu4f- {
  font-size: 14px;
  text-transform: capitalize;
}
.styles-button-1WE4n-.styles-sm-2m5T8- {
  padding: 9px 20px;
  min-width: 150px;
}
.styles-button-1WE4n-.styles-md-2TguP- {
  min-width: 150px;
  padding: 13px 30px;
}
.styles-button-1WE4n-.styles-md-2TguP-.styles-okl-25mTm- {
  padding: 12px 5px;
}
.styles-button-1WE4n-.styles-lg-2d0QA- {
  padding: 16px 30px;
  min-width: 200px;
}
.styles-button-1WE4n-.styles-fb-2xbmS- {
  border-color: rgba(59,89,152,0.95);
  background-color: rgba(59,89,152,0.95);
}
.styles-button-1WE4n-.styles-fb-2xbmS-:hover {
  border-color: #3b5998;
  background-color: #3b5998;
}
.styles-button-1WE4n-.styles-fb-2xbmS- a {
  color: #fff;
}
.styles-button-1WE4n-.styles-primary-1f7Su-,
.styles-button-1WE4n-.styles-pink-3FcVJ- {
  border-color: rgba(246,97,97,0.95);
  background-color: rgba(246,97,97,0.95);
}
.styles-button-1WE4n-.styles-primary-1f7Su-:hover,
.styles-button-1WE4n-.styles-pink-3FcVJ-:hover {
  border-color: #f66161;
  background-color: #f66161;
}
.styles-button-1WE4n-.styles-primary-1f7Su-.styles-okl-25mTm-,
.styles-button-1WE4n-.styles-pink-3FcVJ-.styles-okl-25mTm- {
  border-color: rgba(240,92,113,0.95);
  background-color: rgba(240,92,113,0.95);
}
.styles-button-1WE4n-.styles-primary-1f7Su-.styles-okl-25mTm-:hover,
.styles-button-1WE4n-.styles-pink-3FcVJ-.styles-okl-25mTm-:hover {
  border-color: #f05c71;
  background-color: #f05c71;
}
.styles-button-1WE4n-.styles-green-3x_AI- {
  border-color: rgba(0,128,70,0.95);
  background-color: rgba(0,128,70,0.95);
}
.styles-button-1WE4n-.styles-green-3x_AI-:hover {
  border-color: #008046;
  background-color: #008046;
}
.styles-button-1WE4n-.styles-transp-green-3J1np- {
  border-color: #008046;
  background-color: transparent;
  color: #008046;
}
.styles-button-1WE4n-.styles-transp-green-3J1np-:hover {
  background-color: #008046;
  color: #fff;
}
.styles-button-1WE4n-.styles-secondary-1bcLb-,
.styles-button-1WE4n-.styles-black-1__Uu- {
  border-color: rgba(0,0,0,0.85);
  background-color: rgba(0,0,0,0.85);
}
.styles-button-1WE4n-.styles-secondary-1bcLb-:hover,
.styles-button-1WE4n-.styles-black-1__Uu-:hover {
  border-color: #000;
  background-color: #000;
}
.styles-button-1WE4n-.styles-transp-black-8yANJ- {
  border-color: #000;
  background-color: transparent;
  color: #000;
}
.styles-button-1WE4n-.styles-transp-black-8yANJ-:hover {
  background-color: #000;
  color: #fff;
}
.styles-button-1WE4n-.styles-gold-55tKr- {
  border-color: #d1af7d;
  background-color: #d1af7d;
}
.styles-button-1WE4n-.styles-gold-55tKr-:hover {
  border-color: #d1af7d;
  background-color: #d1af7d;
}
.styles-button-1WE4n-.styles-white-2X4IK- {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}
.styles-button-1WE4n-.styles-white-2X4IK-:hover {
  border-color: #fff;
  background-color: #fff;
}
.styles-button-1WE4n-:disabled.styles-okl-25mTm-,
.styles-button-1WE4n-:disabled:not(.styles-okl-25mTm-) {
  border-color: rgba(204,204,204,0.95);
  background-color: rgba(204,204,204,0.95);
}
.styles-button-1WE4n-:disabled.styles-okl-25mTm-:hover,
.styles-button-1WE4n-:disabled:not(.styles-okl-25mTm-):hover {
  border-color: #ccc;
  background-color: #ccc;
}
.styles-error-text-2ldSF- {
  background: #fdecec;
  color: #ee4242;
  padding: 15px;
}
.styles-button-text-1J854- {
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}
.styles-pink-3QtrL- {
  color: #f66161;
}
.styles-pink-3QtrL-:hover {
  color: #e45858;
}
.styles-green-3dDVg- {
  color: #008046;
}
.styles-green-3dDVg-:hover {
  color: #007046;
}
.auth_form_styles-form-1FeGO- {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}
.styles-login-modal-37cjf- {
  margin-top: 100px;
}
.styles-close-icon-2rVDf- {
  width: 15px;
  height: 15px;
}
.styles-close-icon-2rVDf- path {
  fill: #000;
}
[class*="modal-open"] [class*="modal-backdrop"] {
  background-color: #fff;
}
.styles-root-3lRHH- {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.styles-avatar-106gb- {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
}
.styles-avatar-106gb-.styles-xs-30yHE- {
  width: 30px;
  height: 30px;
}
.styles-avatar-106gb-.styles-sm-1vtNW- {
  width: 40px;
  height: 40px;
}
.styles-avatar-106gb-.styles-md-365DS- {
  width: 50px;
  height: 50px;
}
.styles-avatar-106gb-.styles-lg-2p-Ot- {
  width: 110px;
  height: 110px;
}
.styles-avatar-106gb-.styles-huge-3WO1a- {
  width: 150px;
  height: 150px;
}
@media (max-width: 767px) {
  .styles-avatar-106gb-.styles-huge-3WO1a- {
    width: 120px;
    height: 120px;
  }
}
.styles-avatar-106gb- img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.styles-wrapper-cFJo8- {
  position: relative;
}
.styles-img-2Vnos- {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.styles-vertical-1qe2M- {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.styles-horizontal-2N_ly- {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.styles-indicator-2_lSR- {
  width: 12px;
  height: 12px;
  background-color: #e5e5e5;
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background-color 0.15s cubic-bezier(0.4, 0, 1, 1);
  -o-transition: background-color 0.15s cubic-bezier(0.4, 0, 1, 1);
  transition: background-color 0.15s cubic-bezier(0.4, 0, 1, 1);
}
.styles-indicator-2_lSR-.styles-active-3wPub- {
  background-color: #b9cbf9;
}
.styles-arrow-2ijZ4- {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1vw;
}
.styles-arrow-2ijZ4- svg {
  height: 32px;
  width: 16px;
}
.styles-arrow-2ijZ4-.styles-right-oEJrD- {
  right: 1vw;
  left: auto;
}
.styles-indicators-13slm- {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.styles-hidden-1XB-r- {
  display: none;
}
.styles-close-3rZtP- {
  opacity: 1;
}
.styles-close-icon-3Uhu9- {
  width: 15px;
  height: 15px;
  right: -webkit-calc(50vw - 480px);
  right: calc(50vw - 480px);
  top: 40px;
  position: absolute;
}
@media (max-width: 1000px) {
  .styles-close-icon-3Uhu9- {
    right: 20px;
    top: 30px;
  }
}
.styles-card-39nOf- {
  opacity: 0.25;
}
.styles-card-39nOf-.styles-active-25TQj- {
  opacity: 1;
}
.styles-depth-light-2_eTs- {
  background-color: rgba(0,0,0,0.25);
}
.styles-depth-medium-1uRAH- {
  background-color: rgba(0,0,0,0.5);
}
.styles-depth-heavy-3geyD- {
  background-color: rgba(0,0,0,0.8);
}
.styles-depth-inverse-light-2omAX- {
  background-color: rgba(255,255,255,0.25);
}
.styles-depth-inverse-medium-10CIY- {
  background-color: rgba(255,255,255,0.5);
}
.styles-depth-inverse-heavy-2Seax- {
  background-color: rgba(255,255,255,0.8);
}
.styles-divider-1UdwF- {
  margin: 1rem 0;
  line-height: 1;
  height: 0;
}
.styles-divider-1UdwF-:not(.styles-horizontal-P_IE_-) {
  border-top: 1px solid #e5e5e5;
}
.styles-divider-1UdwF-.styles-thick-2O07L- {
  border-bottom: 1px solid #e5e5e5;
}
.styles-divider-1UdwF-.styles-horizontal-P_IE_- {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e5e5e5;
}
.styles-divider-1UdwF-.styles-horizontal-P_IE_-:before,
.styles-divider-1UdwF-.styles-horizontal-P_IE_-:after {
  content: "";
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #e5e5e5;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.styles-divider-1UdwF-.styles-horizontal-P_IE_-:before {
  margin: 0 10px 0 0;
}
.styles-divider-1UdwF-.styles-horizontal-P_IE_-:after {
  margin: 0 0 0 10px;
}
.styles-dropdown-3QczE- {
  white-space: nowrap;
  display: inline-block;
  position: relative;
}
.styles-label-1Hj25- {
  padding: 15px 20px;
  cursor: pointer;
}
.styles-menu-pAgD1- {
  padding-top: 20px;
  text-align: left;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s ease 0.2s;
  -o-transition: all 0.25s ease 0.2s;
  transition: all 0.25s ease 0.2s;
  z-index: 1039;
}
.styles-menu-pAgD1- .styles-btn-211X7- {
  padding: 10px 30px;
  margin: 10px;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  background: #8adbd5;
  display: block;
  text-align: center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-decoration: none;
  color: #fff;
}
.styles-menu-pAgD1- .styles-btn-211X7-:hover {
  background: #6fc7c0;
}
.styles-menu-pAgD1- .styles-divider-1s8tX- {
  margin: 0;
}
.styles-menu-pAgD1- .styles-item-1BK3o- {
  padding: 0 20px 13px;
  cursor: pointer;
}
.styles-menu-pAgD1- .styles-checkbox-188tj- {
  margin: 10px 15px;
}
.styles-menu-pAgD1-.styles-visible-N7dNb- {
  opacity: 1;
  visibility: visible;
}
.styles-menu-pAgD1-.styles-popover-15KP3- {
  width: 300px;
  bottom: 54px;
}
.styles-menu-pAgD1-.styles-popover-15KP3- .styles-item-1BK3o- {
  padding-right: 15px;
  padding-left: 15px;
}
.styles-menu-pAgD1-.styles-stylized-2D1k-- {
  width: 260px;
  border: none;
  padding-top: 30px;
  padding-bottom: 20px;
}
.styles-menu-pAgD1-.styles-stylized-2D1k-- .styles-item-1BK3o- {
  padding: 0 20px 5px;
}
.styles-close-3d94r- {
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;
}
.styles-close-3d94r- svg path {
  fill: #888;
}
.styles-dusty-1gOwt- .styles-item-1BK3o-.styles-active-3j6ee-,
.styles-dusty-1gOwt- .styles-item-1BK3o-:hover {
  color: #999;
}
.styles-mint-3gfDz- .styles-item-1BK3o-.styles-active-3j6ee-,
.styles-mint-3gfDz- .styles-item-1BK3o-:hover {
  color: #8adbd5;
}
.styles-underline-t0o-s- .styles-item-1BK3o-.styles-active-3j6ee-,
.styles-underline-t0o-s- .styles-item-1BK3o-:hover {
  text-decoration: underline;
}
.styles-message-7T9Ks- {
  font-family: Proxima-Semibold;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 100%;
}
.styles-message-7T9Ks-.styles-xs-1e5I2- {
  padding: 0;
}
.styles-message-7T9Ks-.styles-sm-3oDFX- {
  padding: 6px;
}
.styles-message-7T9Ks-.styles-md-1ThbY- {
  padding: 17px;
}
.styles-message-7T9Ks-.styles-lg-1ph3T- {
  padding: 10px;
}
.styles-message-7T9Ks-.styles-error-1UMLG- {
  color: #ee4242;
}
.styles-message-7T9Ks-.styles-error-1UMLG-:not(.styles-xs-1e5I2-) {
  background: #fdecec;
}
.styles-message-7T9Ks-.styles-info-2jk1z- {
  background-color: #f66161;
  color: #fff;
}
.styles-message-7T9Ks-.styles-bound-3qru6- {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
}
.styles-message-7T9Ks-.styles-absolute-OECQz- {
  position: absolute;
}
.styles-message-7T9Ks-.styles-absolute-OECQz-.styles-error-1UMLG-.styles-xs-1e5I2- {
  top: 100%;
  text-align: left;
}
.styles-select-wrapper-1PJQe- {
  position: relative;
}
.styles-select-wrapper-1PJQe-:after {
  content: '';
  width: 6px;
  height: 6px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(135deg) translateY(45%);
      -ms-transform: rotate(135deg) translateY(45%);
          transform: rotate(135deg) translateY(45%);
  right: 23px;
  top: 45%;
  position: absolute;
}
.styles-select-1YKJN- {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  font-size: 13px;
  font-family: Proxima;
  letter-spacing: 0.5px;
  outline: none;
  width: 100%;
}
.styles-select-1YKJN-:focus {
  border: 1px solid #999;
}
.styles-select-1YKJN-.styles-lg-1zz5A- {
  padding: 0 12px;
  height: 50px;
}
.styles-select-1YKJN-.styles-md-3IxaK- {
  padding: 0 10px;
  height: 44px;
}
.styles-select-1YKJN-.styles-sm-25pKM- {
  padding: 0 12px;
  height: 32px;
}
.styles-select-1YKJN-.styles-error-3MyyP-:not(:focus) {
  border: 1px solid #f66161;
}
.styles-bordered-2RiWR- {
  padding: 30px;
  border: 1px solid #d1af7d;
  width: 100%;
}
.styles-bordered-2RiWR- svg {
  width: 50px;
  height: 44px;
}
.styles-depth-light-25SfP- {
  opacity: 0.25;
}
.styles-depth-light-25SfP-:hover {
  opacity: 1;
}
.styles-depth-medium-2C5t3- {
  opacity: 0.5;
}
.styles-depth-medium-2C5t3-:hover {
  opacity: 1;
}
.styles-depth-heavy-wbjD6- {
  opacity: 0.8;
}
.styles-depth-heavy-wbjD6-:hover {
  opacity: 1;
}
.styles-depth-inverse-light-1F1Vd-:hover {
  opacity: 0.25;
}
.styles-depth-inverse-medium-1mt9E-:hover {
  opacity: 0.5;
}
.styles-depth-inverse-heavy-1LUcA-:hover {
  opacity: 0.8;
}
.styles-wrapper-2ORSF- {
  position: relative;
  overflow: hidden;
}
.styles-wrapper-2ORSF- .styles-dimmer-3Gv8a- {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.styles-wrapper-2ORSF- img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.styles-wrapper-2ORSF- .styles-innerComponent-2t3fF- {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.styles-wrapper-2ORSF- .styles-innerComponent-2t3fF-:not(.styles-pointer-1WlI2-) {
  pointer-events: none;
}
:not(.styles-button-35fKG-).styles-dusty-RF19v- {
  color: #999;
  text-decoration: none;
}
:not(.styles-button-35fKG-).styles-dusty-RF19v-:hover {
  color: #000;
}
:not(.styles-button-35fKG-).styles-dusty-RF19v-.styles-capital-2iu7d- {
  text-transform: capitalize;
}
:not(.styles-button-35fKG-).styles-dusty-RF19v-.styles-upper-TMDq5- {
  text-transform: uppercase;
}
:not(.styles-button-35fKG-).styles-pink-3vZ2J- {
  color: #f66161;
  text-decoration: none;
  text-decoration: underline;
}
:not(.styles-button-35fKG-).styles-pink-3vZ2J-:hover {
  color: #f66161;
}
:not(.styles-button-35fKG-).styles-pink-3vZ2J-.styles-capital-2iu7d- {
  text-transform: capitalize;
}
:not(.styles-button-35fKG-).styles-pink-3vZ2J-.styles-upper-TMDq5- {
  text-transform: uppercase;
}
:not(.styles-button-35fKG-).styles-pink-3vZ2J-:hover {
  text-decoration: none;
}
.styles-button-35fKG- {
  text-decoration: none;
  font-family: Proxima-Semibold;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid;
  color: #fff;
}
.styles-button-35fKG-:not(.styles-okl-3SDFn-) {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.styles-button-35fKG-:not(:disabled) {
  cursor: pointer;
}
.styles-button-35fKG-.styles-upper-TMDq5- {
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
}
.styles-button-35fKG-.styles-capital-2iu7d- {
  font-size: 14px;
  text-transform: capitalize;
}
.styles-button-35fKG-.styles-sm-BnQGG- {
  padding: 9px 20px;
}
.styles-button-35fKG-.styles-md-2c3bJ- {
  padding: 13px 30px;
}
.styles-button-35fKG-.styles-lg-GrBBf- {
  padding: 16px 30px;
}
.styles-button-35fKG-.styles-fb-3jcIw- {
  border-color: rgba(59,89,152,0.95);
  background-color: rgba(59,89,152,0.95);
}
.styles-button-35fKG-.styles-fb-3jcIw-:hover {
  border-color: #3b5998;
  background-color: #3b5998;
}
.styles-button-35fKG-.styles-fb-3jcIw- a {
  color: #fff;
}
.styles-button-35fKG-.styles-primary-3DY76-:not(.styles-okl-3SDFn-),
.styles-button-35fKG-.styles-pink-3vZ2J-:not(.styles-okl-3SDFn-) {
  border-color: rgba(246,97,97,0.95);
  background-color: rgba(246,97,97,0.95);
}
.styles-button-35fKG-.styles-primary-3DY76-:not(.styles-okl-3SDFn-):hover,
.styles-button-35fKG-.styles-pink-3vZ2J-:not(.styles-okl-3SDFn-):hover {
  border-color: #f66161;
  background-color: #f66161;
}
.styles-button-35fKG-.styles-primary-3DY76-.styles-okl-3SDFn-,
.styles-button-35fKG-.styles-pink-3vZ2J-.styles-okl-3SDFn- {
  border-color: rgba(240,92,113,0.95);
  background-color: rgba(240,92,113,0.95);
}
.styles-button-35fKG-.styles-primary-3DY76-.styles-okl-3SDFn-:hover,
.styles-button-35fKG-.styles-pink-3vZ2J-.styles-okl-3SDFn-:hover {
  border-color: #f05c71;
  background-color: #f05c71;
}
.styles-button-35fKG-.styles-secondary-2POIj-,
.styles-button-35fKG-.styles-black-1ggaw- {
  border-color: rgba(0,0,0,0.85);
  background-color: rgba(0,0,0,0.85);
}
.styles-button-35fKG-.styles-secondary-2POIj-:hover,
.styles-button-35fKG-.styles-black-1ggaw-:hover {
  border-color: #000;
  background-color: #000;
}
.styles-button-35fKG-.styles-gold-2f32v- {
  border-color: #d1af7d;
  background-color: #d1af7d;
}
.styles-button-35fKG-.styles-gold-2f32v-:hover {
  border-color: #d1af7d;
  background-color: #d1af7d;
}
.styles-button-35fKG-.styles-white-1q7X_- {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}
.styles-button-35fKG-.styles-white-1q7X_-:hover {
  border-color: #fff;
  background-color: #fff;
}
.styles-button-35fKG-:disabled.styles-okl-3SDFn-,
.styles-button-35fKG-:disabled:not(.styles-okl-3SDFn-) {
  border-color: rgba(204,204,204,0.95);
  background-color: rgba(204,204,204,0.95);
}
.styles-button-35fKG-:disabled.styles-okl-3SDFn-:hover,
.styles-button-35fKG-:disabled:not(.styles-okl-3SDFn-):hover {
  border-color: #ccc;
  background-color: #ccc;
}
.styles-button-35fKG-.styles-green-3cn2j- {
  border-color: rgba(0,128,70,0.95);
  background-color: rgba(0,128,70,0.95);
}
.styles-button-35fKG-.styles-green-3cn2j-:hover {
  border-color: #008046;
  background-color: #008046;
}
.styles-button-35fKG-.styles-transp-green-3w7He- {
  border-color: #008046;
  background-color: transparent;
  color: #008046;
}
.styles-button-35fKG-.styles-transp-green-3w7He-:hover {
  background-color: #008046;
  color: #fff;
}
.styles-login-Wvg6y- .styles-login-btn-2g5zW- {
  width: 90px;
  min-width: 90px;
}
.styles-mainHeader-3x75q- {
  background: #fff;
  border-bottom: 1px solid #aaa;
}
.styles-mainHeader-3x75q- .styles-link-3klyx- {
  color: #000;
}
.styles-mainHeader-3x75q- .styles-link-3klyx-:hover {
  color: #666;
}
.styles-link-3klyx- {
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
.styles-price-1zCwz- {
  font-family: Brandon-Light;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 50px;
}
.styles-dollar-2R0St- {
  vertical-align: text-bottom;
  font-family: Brandon;
  font-size: 28px;
  line-height: 50px;
}
.styles-per-room-1GE0H- {
  margin-left: 3px;
  text-align: left;
  font-family: Proxima;
  font-size: 13px;
  display: inline-block;
}
.styles-lg-9m_ql- .styles-price-1zCwz- {
  font-size: 58px;
}
.styles-lg-9m_ql- .styles-dollar-2R0St- {
  font-size: 32px;
  line-height: 58px;
}
.styles-segment-3aqDj- {
  position: relative;
  background: #fff;
  margin: 1rem 0;
  padding: 1em 1em;
  border: 1px solid #e5e5e5;
}
.styles-segment-3aqDj-:last-child {
  margin-bottom: 0;
}
.styles-segment-3aqDj-:first-child {
  margin-top: 0;
}
.styles-segment-3aqDj-.styles-basic-33ojj- {
  background: none;
  border: none;
}
@media (min-width: 768px) {
  .styles-segment-3aqDj-.styles-compact-1uWsj- {
    display: table;
  }
}
.styles-segment-3aqDj-.styles-right-2_2XK- {
  text-align: right;
}
.styles-segment-3aqDj-.styles-left-3vS-7- {
  text-align: left;
}
.styles-segment-3aqDj-.styles-center-8zLLH- {
  text-align: center;
}
.styles-wrapper-2l0Io-,
.styles-icon-987bP- {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.styles-icon-987bP- {
  color: #fff;
  outline: none;
  width: 70px;
  height: 40px;
  text-decoration: none;
}
.styles-icon-987bP-.styles-fb-gCP7Q- {
  background-color: #3b5998;
}
.styles-icon-987bP-.styles-fb-gCP7Q-:hover {
  background-color: rgba(59,89,152,0.85);
}
.styles-icon-987bP-.styles-pinterest-TgLJf- {
  background-color: #d90004;
}
.styles-icon-987bP-.styles-pinterest-TgLJf-:hover {
  background-color: rgba(217,0,4,0.85);
}
.styles-icon-987bP-.styles-twitter-1taYR- {
  background-color: #41aaf1;
}
.styles-icon-987bP-.styles-twitter-1taYR-:hover {
  background-color: rgba(65,170,241,0.85);
}
.styles-icon-987bP-.styles-black-y8mE_- {
  background-color: #333;
}
.styles-icon-987bP-.styles-black-y8mE_-:hover {
  background-color: rgba(51,51,51,0.85);
}
.styles-fixed-2dKNT- {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.styles-wrapper-3W32a- {
  width: 100%;
  background: #f7f7f7;
  height: 100px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.styles-step-2wvLx- {
  font-family: Proxima-Bold;
  width: 150px;
}
@media (max-width: 767px) {
  .styles-step-2wvLx- {
    width: 75px;
  }
}
.styles-step-2wvLx- .styles-oval-jDnRe- {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 13px;
  position: relative;
}
.styles-step-2wvLx- .styles-oval-jDnRe-:after {
  content: '';
  position: absolute;
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px);
  left: 28px;
  height: 2px;
  width: 120px;
}
@media (max-width: 767px) {
  .styles-step-2wvLx- .styles-oval-jDnRe-:after {
    width: 45px;
  }
}
.styles-step-2wvLx- .styles-title-6tlSS- {
  font-size: 12px;
  letter-spacing: 1px;
}
.styles-step-2wvLx-.styles-active-21Ox3- {
  color: #666;
}
.styles-step-2wvLx-.styles-active-21Ox3- .styles-oval-jDnRe- {
  border: solid 2px #666;
}
.styles-step-2wvLx-.styles-active-21Ox3- .styles-oval-jDnRe-:after {
  background: #ccc;
}
.styles-step-2wvLx-.styles-completed-3g-1n- {
  color: #666;
}
.styles-step-2wvLx-.styles-completed-3g-1n- .styles-oval-jDnRe- {
  background: #666;
  border: solid 2px #666;
}
.styles-step-2wvLx-.styles-completed-3g-1n- .styles-oval-jDnRe- svg path {
  fill: #fff;
}
.styles-step-2wvLx-.styles-completed-3g-1n- .styles-oval-jDnRe-:after {
  background: #666;
}
.styles-step-2wvLx-.styles-disabled-1YAtv- {
  color: #ccc;
}
.styles-step-2wvLx-.styles-disabled-1YAtv- .styles-oval-jDnRe- {
  border: solid 2px #ccc;
}
.styles-step-2wvLx-.styles-disabled-1YAtv- .styles-oval-jDnRe-:after {
  background: #e5e5e5;
}
.styles-step-sm-3Kl8u- {
  font-family: Proxima-Semibold;
  margin-top: 11px;
  width: 134px;
}
@media (max-width: 767px) {
  .styles-step-sm-3Kl8u- {
    width: 75px;
  }
}
.styles-step-sm-3Kl8u- .styles-oval-jDnRe- {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  border: 2px solid #e5e5e5;
}
.styles-step-sm-3Kl8u- .styles-oval-jDnRe-:after {
  content: '';
  position: absolute;
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px);
  left: 10px;
  width: 120px;
}
@media (max-width: 767px) {
  .styles-step-sm-3Kl8u- .styles-oval-jDnRe-:after {
    width: 60px;
  }
}
.styles-step-sm-3Kl8u-.styles-solid-1n3Ha- {
  margin-left: 60px;
}
.styles-step-sm-3Kl8u-.styles-solid-1n3Ha- .styles-oval-jDnRe-:after {
  border: 1px solid #e5e5e5;
}
@media (max-width: 767px) {
  .styles-step-sm-3Kl8u-.styles-dashed-3EU2c- {
    margin-left: 22px;
  }
}
.styles-step-sm-3Kl8u-.styles-dashed-3EU2c- .styles-oval-jDnRe-:after {
  border: 1px dashed #e5e5e5;
}
.styles-step-sm-3Kl8u- .styles-title-6tlSS- {
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #e5e5e5;
}
.styles-edit-button-1jmTa- {
  border: none !important;
  background: none !important;
  text-transform: capitalize !important;
  padding: 0 !important;
  min-width: 0 !important;
  width: initial;
}
.styles-lh-33--1Hxb- {
  line-height: 33px;
}
@media (max-width: 767px) {
  .styles-mob-center-1TVVI- {
    text-align: center;
  }
}
.styles-relative-3VwA1- {
  position: relative;
}
.styles-package-3mlDx- {
  margin: 0 -20px;
}
@media (min-width: 768px) {
  .styles-package-3mlDx- {
    position: absolute;
    bottom: -20px;
  }
}
.styles-input-qty-1wPlI- {
  width: 40px;
}
.styles-input-qty-1wPlI- input {
  text-align: center;
}
.styles-remove-button-3RLA5- {
  border: none !important;
  background: none !important;
  text-transform: capitalize !important;
  padding: 0 !important;
  min-width: 0 !important;
  width: initial;
}
.styles-image-max-width-wYJdc- {
  max-width: -webkit-calc(100% - 20px);
  max-width: calc(100% - 20px);
}
@media (max-width: 767px) {
  .styles-mob-center-3gKU7- {
    margin: auto;
  }
}
.styles-level-2eNfB- {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.styles-price-1k0Tu- {
  font-size: 50px;
  font-family: Brandon;
  letter-spacing: 1px;
}
.styles-dollar-3mSwZ- {
  vertical-align: text-bottom;
  font-size: 28px;
  font-family: Brandon;
  line-height: 50px;
}
.styles-per-room-6QbXF- {
  font-family: Proxima;
  font-size: 13px;
  display: inline-block;
  text-align: left;
}
.styles-room-vSWEG- {
  width: 160px;
  padding: 0 10px;
  margin: 20px auto 15px;
  cursor: pointer;
}
.styles-img-wrapper-3i7Eh- {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.styles-img-wrapper-3i7Eh- .styles-state-ico-VMx8B- {
  width: 32px;
  height: 32px;
  margin: auto;
}
.styles-default-2lkDX-:hover .styles-state-ico-VMx8B- {
  background: url(public-files/img/add_4fee4d27243a0fc36f285c134ec3d43b.png) center center no-repeat;
}
.styles-selected-3DUwV- .styles-state-ico-VMx8B- {
  background: url(public-files/img/checkmark_efee5ac52b05527b426a2db69f067ff4.png) center center no-repeat;
}
.styles-rooms-3WxAa- {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (min-width: 1001px) {
  .styles-button-wrapper-1-ikm- {
    overflow: hidden;
  }
  .styles-button-wrapper-1-ikm- button {
    width: 250px;
    float: right;
  }
}
.styles-wrapper-FNvzQ- {
  min-height: 100vh;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.styles-wrapper-c5Siq- {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.styles-trigger-bj7Vs-,
.styles-dismiss-OFtbs- {
  cursor: pointer;
}
.styles-dismiss-OFtbs- {
  position: absolute;
  top: 10px;
  right: 10px;
}
.styles-header-ZJ7ue- {
  margin-bottom: 9px;
}
.styles-tooltip-2OLp6- {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s ease 0.2s;
  -o-transition: all 0.25s ease 0.2s;
  transition: all 0.25s ease 0.2s;
  max-width: 250px;
  z-index: 1040;
  padding: 20px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(229,229,229,0.12), 0 2px 10px 0 rgba(229,229,229,0.15);
          box-shadow: 0 2px 4px 0 rgba(229,229,229,0.12), 0 2px 10px 0 rgba(229,229,229,0.15);
}
.styles-tooltip-2OLp6-.styles-visible-3WAer- {
  opacity: 1;
  visibility: visible;
}
.styles-tooltip-2OLp6-:before {
  position: absolute;
  content: '';
  width: 0.7em;
  height: 0.7em;
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
  -webkit-box-shadow: 1px 1px 0 0 #e5e5e5;
          box-shadow: 1px 1px 0 0 #e5e5e5;
}
.styles-tooltip-2OLp6-.styles-top-left-mHrtJ- {
  left: 0;
  bottom: -webkit-calc(100% + 10px);
  bottom: calc(100% + 10px);
}
.styles-tooltip-2OLp6-.styles-top-left-mHrtJ-:before {
  bottom: -0.3em;
  left: 1em;
  top: auto;
  right: auto;
}
.styles-top-right-2iPN1- {
  right: 0;
  bottom: -webkit-calc(100% + 10px);
  bottom: calc(100% + 10px);
}
.styles-top-right-2iPN1-:before {
  bottom: -0.3em;
  right: 1em;
  top: auto;
  left: auto;
}
.styles-bottom-left-11HvM- {
  left: 0;
  top: -webkit-calc(100% + 10px);
  top: calc(100% + 10px);
}
.styles-bottom-left-11HvM-:before {
  top: -0.3em;
  left: 1em;
  bottom: auto;
  right: auto;
  -webkit-box-shadow: -1px -1px 0 0 #e5e5e5;
          box-shadow: -1px -1px 0 0 #e5e5e5;
}
.styles-bottom-right-1k6iQ- {
  right: 0;
  top: -webkit-calc(100% + 10px);
  top: calc(100% + 10px);
}
.styles-bottom-right-1k6iQ-:before {
  top: -0.3em;
  right: 1em;
  bottom: auto;
  left: auto;
  -webkit-box-shadow: -1px -1px 0 0 #e5e5e5;
          box-shadow: -1px -1px 0 0 #e5e5e5;
}
.styles-right-center-1ybCS- {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -webkit-calc(100% + 10px);
  left: calc(100% + 10px);
}
.styles-right-center-1ybCS-:before {
  top: 50%;
  left: -0.3em;
  bottom: auto;
  right: auto;
  margin-top: -0.3em;
  -webkit-box-shadow: -1px 1px 0 0 #e5e5e5;
          box-shadow: -1px 1px 0 0 #e5e5e5;
}
.styles-left-center-U4GUV- {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -webkit-calc(100% + 10px);
  right: calc(100% + 10px);
}
.styles-left-center-U4GUV-:before {
  top: 50%;
  right: -0.3em;
  bottom: auto;
  left: auto;
  margin-top: -0.3em;
  -webkit-box-shadow: 1px -1px 0 0 #e5e5e5;
          box-shadow: 1px -1px 0 0 #e5e5e5;
}
.styles-top-center-3jjzd- {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -webkit-calc(100% + 10px);
  bottom: calc(100% + 10px);
}
.styles-top-center-3jjzd-:before {
  top: auto;
  right: auto;
  bottom: -0.3em;
  left: 50%;
  margin-left: -0.3em;
}
.styles-bottom-center-2SIk2- {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -webkit-calc(100% + 10px);
  top: calc(100% + 10px);
}
.styles-bottom-center-2SIk2-:before {
  top: -0.3em;
  right: auto;
  bottom: auto;
  left: 50%;
  margin-left: -0.3em;
  -webkit-box-shadow: -1px -1px 0 0 #e5e5e5;
          box-shadow: -1px -1px 0 0 #e5e5e5;
}
@media (min-width: 768px) {
  .styles-mb-container-UBwBV- {
    padding: 10px 0px 10px 0px;
  }
}
@media (max-width: 767px) {
  .styles-mb-container-UBwBV- {
    padding: 5px 10px 5px 10px;
  }
}
.styles-first-rectangle-3RAwS- {
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .styles-first-rectangle-3RAwS- {
    padding: 20px 30px 20px 30px;
  }
}
@media (max-width: 767px) {
  .styles-first-rectangle-3RAwS- {
    padding: 15px 20px 15px 20px;
  }
}
.styles-second-rectangle-2DH1Z- {
  border: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .styles-second-rectangle-2DH1Z- {
    padding: 25px 30px;
  }
}
@media (max-width: 767px) {
  .styles-second-rectangle-2DH1Z- {
    padding: 20px;
  }
}
.styles-title-color-2lw46- {
  color: #999;
}
.styles-value-color-x-tM-- {
  color: #333;
}
@media (max-width: 767px) {
  .styles-mob-pl-UmS90- {
    padding-left: 10px;
  }
}
@media (max-width: 767px) {
  .styles-mob-display-inline-1wRx7- {
    display: inline;
  }
}
.styles-button-rectangle-3kjWB- {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .styles-button-rectangle-3kjWB- {
    width: 200px;
    max-width: 100%;
    float: right;
  }
}
@media (min-width: 1440px), (max-width: 767px) {
  .styles-avatar-1E7tY- {
    display: inline-block;
    margin-right: 20px;
  }
}
.styles-avatar-1E7tY- svg {
  width: 50px;
  height: 50px;
  background-color: #e3e3e3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
@media (min-width: 768px) {
  .styles-text-align-right-2YDH8- {
    text-align: right;
  }
}
@media (max-width: 1439px) and (min-width: 768px) {
  .styles-align-text-2wRPG- {
    text-align: center;
  }
}
.styles-icon-text-color-2wMrS- {
  color: #008046;
  line-height: 0;
}
.styles-display-inline-1PTR-- {
  display: inline-block;
}
.styles-align-middle-3odbu- {
  vertical-align: middle;
}
.styles-svg-size-2fUMH- {
  width: 16px;
  height: 16px;
}
@media (max-width: 767px) {
  .styles-mob-mb-30S9h- {
    margin-bottom: 15px;
  }
}
.styles-second-text-padding-eHPif- {
  margin-bottom: 15px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .styles-appointment-info-padding-1cUGO- {
    margin: 0 30px 0 30px;
  }
}
@media (min-width: 768px) {
  .styles-rec-one-alignment-1Kkkr- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
